# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Java / Backend
target/
*.class
*.jar
*.war
*.ear
*.log

# Docker
.docker/

# Misc
test.txt
uploads/
